@import "node_modules/bootstrap/scss/bootstrap";

// Your variable overrides
$body-bg: #eeeeee;
$body-color: #111;

$theme-colors: (
  "primary": #484b6a,
  "danger": #ff4136
);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";