@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans&display=swap');

/************************************************
 * TABLE OF CONTENTS
 * =================
 * 1. DEFAULT OVERRIDES
 * 2. GENERAL CLASSES
 * 3. GAME
 * 4. CHAT
 ***********************************************/

/*1. DEFAULT OVERRIDES*/
html{
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Open Sans', Sans-Serif;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
	margin: 0;
	padding: 0;
	padding: 35px;
	background-color: #ededed;
}

h1{
		color: #90a3dd;
		margin: 0;
}

h2{
	font-size: 1.1rem;
}

ul, li{
	padding: 0;
}

/*2. GENERAL CLASSES*/
.page-wrapper{
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
}

.flex-container-column{
	display: flex;
	flex-flow: column;
}

.hidden{
  position: absolute;
  left: -10000px;
}

.button-container{
	margin: 20px;
	width: 100%;
}

.button{
  border: 1px solid white;
  padding: 7px 12px;
  border-radius: 5px;
  display: inline-block;
  transition: all .5s;
	text-transform: uppercase;
	background-color: #90a3dd;
	color: white;
	font-weight: bold;
	cursor: pointer;
	border: 2px solid transparent;
}

.button:hover{
	background-color: white;
	border: 2px solid #90a3dd;
	color: #90a3dd;
}

/*Referenced https://stackoverflow.com/questions/43186015/css-hide-scroll-bar-but-have-element-scrollable*/
::-webkit-scrollbar {
  background: grey;
}

/*3. GAME*/

.letter{
	border: 1px solid white;
	padding: 10px 15px;
	border-radius: 5px;
	display: inline-block;
	transition: all .25s;
	color: black;
	background-color: #fadcff;
	cursor: pointer;
	margin: 2px;
}

.letter:hover{
	background-color: pink;
}

.disabled{
	cursor: not-allowed;
}

.guessed{
	background: lightgrey;
	cursor: not-allowed;
}

#letter-container{
	width: 100%;
}

#game{
	margin-bottom: 50px;
	text-align: center;
	color: #90a3dd;
	background: white;
	padding: 50px;
}

#instructions{
	text-align: left;
}

#result{
	width: 100%;
	height: 20px;
}

#guessed-word{
	width: 100%;
	font-size: 2rem;
	margin-bottom: 35px;
}

#lives{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.25rem;
}

#game, #chat-container, #message-container{
	flex: 1;
	height: 550px;
}

/*4. CHAT*/
#chat-container{
	box-shadow: 0px 0px 5px #d7d7d7;
	background: #36393F;
	color: white;
}

#users-container{
	background: #2f3136;
	color: white;
	padding: 30px;
}

#message-container{
	padding: 20px;
}

#messages{
	flex: 1;
	overflow-y: auto;
	width: 100%;
}

#message-box{
	width: 100%;
	padding-top: 20px;
	border-top: 1px solid #484c52;
}

#message-box input, #leave-chat{
	padding: 8px;
	border: none;
	color: white;
	background: #484c52;
}

#leave-chat{
	border-radius: 5px;
	margin: 0;
	margin-top: 20px;
	cursor: pointer;
	transition: all .5s;
}

#leave-chat:hover{
	background-color: #6c6f74;
}

#send-message{
	cursor: pointer;
	border-radius: 0 5px 5px 0;
}

#text-message{
	flex: 1;
	border-radius: 5px 0 0 5px;
}

.message{
	border-bottom: 1px solid #42454d;
}

#messages, #users {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li, #users li{
	padding: 10px;
}

#users{
	height: 150px;
	overflow-y: auto;
	flex: 1;
}